/* Importing Font Rubik and Oswald  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

/* Tailwindcss prerequisite imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

::-webkit-scrollbar{
  background-color: black;
  /* width: 8px; */

}
::-webkit-scrollbar-thumb{
  background-color: aquamarine;
}